*{
    margin:0;  
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    height: 100vh;
}

#nav{
    width: 100vw;
    height: 70px;
    /* border: solid sienna; */
}
#nav a {
    color: #222;
}
#nav li{
    display: inline-block; 
    position: relative;
    left: 82%;
    padding: .7rem;
}

#nav li button {
    background-color: cornflowerblue;
    padding: .5rem 1rem;
}
#nav li button:hover {
    background-color: rgb(65, 133, 211);
    box-shadow: 3px 3px 3px #eee;

}
#nav li button a{
    color: white;
    text-decoration: white;
}
#nav li button a:hover{
    text-decoration: underline white;
}

main {
    margin: 8rem auto;
    width: 25%;
    padding: 8rem;
    text-align: center;
    /* border: solid sienna 2px; */
}
img {
    width: 80%;
    padding-bottom: 1rem;
}

input[type="text"] {
    padding:.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;;
}
input[type="text"]:hover {
    box-shadow: 3px 3px 3px #eee;
    background-color: rgb(103, 159, 216);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    display: inline;
    color: #222;
    background-color: #f2f2f2;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    margin: 15px 10px;
}
main button[type="submit"]:hover {
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222;

}

footer {
    background-color: #f2f2f2;
    padding: 1%;

}
footer a {
    color: #222;
}
#footer-left li, #footer-right li {
    padding: .8rem;
    display: inline-block; 
    position: relative;
    /* border: burlywood solid; */
}


#footer-right li {
    left: 80%;
    top: 50%;
    /* border: sienna solid; */
}